html{
    background-color:#7986cb; 
    font-family: 'Cabin', sans-serif;
}

.container{
    margin-top: 3%;
}

.subTitle{
    font-size: 28px;
}
.errorMessage{
    color: red;
}

.frogLetters{
    color:#66bb6a;
}

.frogIcon{
    height:29vh;
    width:20vh;
    background-image:url('../images/frog0.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.input-field{
    margin-top: 3%;
    background-color: #e8eaf6;
    border-radius: 5px;
    padding: 0.7%;
}

input[type=text]{
    border-bottom: 1px solid white;
}

::placeholder { 
    color: #66bb6a;
    opacity: 0.7; 
}

label {
    color: white;
}

.input-field.col label {
    top: 0.8rem;
}

i{
    pointer-events: none;
}


.toDoText.priorityTask{
background-color:#ffd54f;

}

.toDoText.priorityTask:hover{
    background-color:#ffd54f;
    transform: scale(1.12);
    box-shadow: 5px 5px 10px black;
}
    
.toDoText, .doneText{
    animation: fade-in 1s;
    -webkit-animation: fadein 2s;
    background-color: #c5cae9;
    padding: 1% !important;
    border-radius: 5px;
    margin: 0.1%;
    transition: 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.toDoText:hover{
    background-color: #9fa8da ; 
} 

.doneText{
    color:rgba(0,0,0,0.8);
    text-decoration: line-through;
    text-decoration-color: grey;
}

.doneText:hover{
    background-color: #9fa8da;
    opacity: 0.7  ; 
} 


.toDoText, .doneText{
    margin-left:5%;
    font-family: 'Cabin' Hand, sans-serif;
}

a{
    margin-right:2%;
    transition: 0.4s;
}

a:hover{
    transform: scale(1.3)
}

.doneBtn{
    transition: 0.4s;
}

.doneBtn:hover{
    transform: scale(1.3)
}

h1{
    text-align: center;
}
